/* general */
body {

}
.ui-page .ui-content {
  padding-top: 0.2em;
}
h2, h5 {
    margin: 0 0.2em;
}
/* signin.html and signup.html */
#header .ui-title, #header .ui-header {
    margin: 0 5% 0 ;
    padding: 0 0  ;
    border-style: none ;
}
.break-word {
    float:right ;
    width:62% ;
    padding-top: 10px;
    word-wrap: break-word;
}


/* addhand.html */
.contentAddHand.ui-content {
    padding: 0;
}
.boardwrap .ui-shadow-inset {
    width: 40% !important;
}
.boardwrap .ui-corner-all, .boardwrap .ui-corner-all {
    display:inline-block;
    margin: 0.1em;
}
.ui-controlgroup  {
    margin: 0 0 ;
}

/* table */
table {
    border-collapse: collapse;
    color: black;
    background: #fff;
    border: 1px solid #b4b4b4;
    font: bold 15px helvetica;
    padding: 0;
    margin-top:0;
    width: 100%;
    table-layout: fixed;
}
table tr td {
    color: #666;
    border-bottom: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
}
table tr td:last-child {
    border-right: none;
}
table tr:last-child td {
    border-bottom: none;
}
.cells .ui-input-text, .cells .ui-input-inset {
    -webkit-box-shadow: none ;
    -webkit-border-radius:  0  ;
    border-radius:  0 ;
    box-shadow: none ;
    margin:0 0 ;
    border: 0;
    min-height: 0.4em;
    line-height: 1.0em;

    padding: 0 0;
    border: 0;
}
.cells input, .boardwrap input {
    font-size: 0.7em;
    border: 0 ;
    padding: 0 0 ;
    margin:0 0 ;
}
.boardwrap input {
    padding: 0 0 0 0.6em;
}
textarea.comment  {
    width:100%;
    font-size: 0.7em;
    padding: 0 0 ;
    margin:0 0 ;
}
.ui-mobile label {
    margin: 0;
}
.ui-btn-right.settings {
    margin: -7px 0;
    font-size: 0.8em;
}
.ui-btn-left.settings {
    margin: -7px 0;
    font-size: 0.8em;
}

/*  row formatting */
td.active {
  background-image: -webkit-gradient(
      linear,
      left top,
      left top,
      color-stop(0.07, rgb(106,56,180)),
      color-stop(0.54, rgb(143,97,212))
  );
  color:white;
}

.redRow {
  background-color: #FFB273;
  border: 1px solid #000;
}

.blueRow {
  background-color: #63ADD0;
  border: 1px solid #000;
}

.greenRow {
  background-color: #59EA3A;
  border: 1px solid #000;
}

.yellowRow {
  background-color: burlywood;
  border: 1px solid #000;
}

.grayRow {
  background-color: grey;
  border: 1px solid #000;
}

.pickerFormatted {

}


.error {
    color:red;
    font:sans-serif /*{global-font-family}; */;
    font-size: 16px;
}

.sidenote {
    display: block;
    color:grey;
    font-size: 0.6em;
}
#form {
    font-size:0.8em;
}

@media (min-width: 22em) {
    .ui-field-contain > label  {
        width: 70%;

    }}
.ui-field-contain {
    border-bottom-style: none;
}

div.hidden {display:none;}




